.services-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.service {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    width: auto;
    margin-top: 20px;
}

.service:hover {
    transform: translateY(-5px);
}

.service-image img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.service-details {
    padding: 20px;
}

.service-details h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.service-details p {
    font-size: 1rem;
    color: #666;
}

#services {
    padding-top: 140px;
}

@media screen and (max-width: 768px) {
    .services-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}